:root {
--prem: #1D1D1Dff; 

    --color-primary: #40826D;
    /* --color-primary: rgb(90, 140, 60); */
    --color-white: #FFFFFF;

    --color_font-heading: #2C2F24;
    --color_font-pra: #2C2F24;

    --heading-font-color: #2C2F24;
    --menu-border-color: #DBDFD0;

    --button-font-color: #182226;
    --icon-bg-color: #4d592b12;

    --bg-color-primary: #F9F9F7;
    --bg-color-second: #474747;


  
}
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-size: 16px;
    color: var(--prem);
   
}

/*welcome section*/

#cart-welcome span,p:last-of-type{
color: gray;

}
/*end of welcome section*/
/*cart-details section*/

/*--------------order-pre-check-out div*/

.cart-info{
    background-color: var(--sec);
    border-radius: 1rem;
    max-width: 70%;
}
.cart-info>p{
    color: black !important;
}
#order-pre-check-out p,#order-pre-check-out span{
    background-color: var(--sec);
    color: var(--prem);
    
}
table{
    min-width: 100%;
}
td{
    vertical-align: middle;
}

/*--------------end of order-pre-check-out div*/

/*end of cart-details section*/
#button-group{
background-color: var(--sec);
color: var(--prem);
}
#add-note-text-area{
    color: var(--sec);
    border-radius: 0;
}

#submiting{
    background-color: var(--color-primary);
    color: var(--white);
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 0;
}

.progress-bar{
    background-color: var(--color-primary) !important;
}