:root {
--prem: #1D1D1Dff; 

    --color-primary: #40826D;
    /* --color-primary: rgb(90, 140, 60); */
    --color-white: #FFFFFF;

    --color_font-heading: #2C2F24;
    --color_font-pra: #2C2F24;

    --heading-font-color: #2C2F24;
    --menu-border-color: #DBDFD0;

    --button-font-color: #182226;
    --icon-bg-color: #4d592b12;

    --bg-color-primary: #F9F9F7;
    --bg-color-second: #474747;


  
}
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-size: 16px;
    color: var(--prem);
    
}
hr {
  border: none; /* Remove default border */
  height: 2px; /* Set thickness */
  background-color: #333; /* Set color */
  width: 50%; /* Set width */
  margin: 20px auto; /* Center and add vertical spacing */
}

.check-out-info{
    border: 3px solid var(--color-primary);
    
    border-radius: 1rem;
    max-width: 70%;
    min-width: 400px;
    

}
.input-group>button{
    background-color: var(--color-primary) !important;
    color: var(--color-white);
    border-color: var(--color-primary) !important
}

#promo{
    
  border-color: var(--color-primary);
}
.btn-outline-dark{
   min-width: 600px;
}
.btn-outline-dark + .btn:hover {
  background-color: var(--color-primary,) !important;
  color: #fff;
  border-color: var(--color-primary,) !important;
}
.btn-check:checked + .btn {
  background-color: var(--color-primary) !important;
  color: #fff !important;
  border-color: var(--color-primary) !important;
}
#add-address,#add-card{
    min-width: 100px;
}
.btn-outline{
    
    background-color: var(--color-primary);

}
#promo:focus {
  border-color: var(--color-primary); /* Optional: set a different border color */
  box-shadow: none;   /* Remove the box shadow */
  outline: none;      /* Remove the outline */
}

.check-out-info>p{
    color: black !important;
}
#order-pre-check-out p,#order-pre-check-out span{
    background-color: var(--color-primary);
    color: var(--prem);
    
}
#add-card:hover ,#add-address:hover {
  background-color: var(--color-primary, #0d6efd); /* your custom color */
  color: #fff; /* make text white */
  border-color: var(--color-primary, #0d6efd);
}

td{
    vertical-align: middle;
}

/*--------------end of order-pre-check-out div*/

/*end of check-out-details section*/
#button-group{
background-color: var(--color-primary);
color: var(--color-primary);
}
#add-note-text-area{
    color: var(--color-primary);
    border-radius: 0;
}
.alert-txt{
    color: rgb(150, 45, 45) !important;
    height: 16px;
}
.succeded-txt{
    color: rgb(54, 150, 45);
    height: 16px;
}
#submiting{
    background-color: var(--color-primary);
    color: var(--white);
    width: 200px;
    font-size: 18px;
    font-weight: bold;
}

.item-name{
      white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides overflowing content */
  text-overflow: ellipsis; /* Displays ellipsis for clipped text */
  width: 150px; /* Example: Set a fixed width for the container */
}
.price-tag{
    width: 40px;
}

@media screen and (max-width: 768px){
    .btn-outline-dark{
   min-width: 300px;
}
}