* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    /*color: var(--prem);*/
}

.zoom-container {
    max-width: 40rem;
    width: 100%;
    height: 35rem;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.zoom-container img {
    max-width: 100%;
    height: 100%;
   /* object-fit: contain;*/
    object-fit: fit;
    transition: transform 0.1s ease;
    cursor: zoom-in;
}

.measurement {
    margin-bottom: 5rem;
}

.price {
    width: 6.5rem;
    background-color: #FEFCFBff;
}

.bi {
    color: #756b2f;
    /*FBC02D*/
   /* color: #1D1D1Dff;*/
}

.dropdown-item{
    color: #756b2f !important;
}

.progress-bar {
    background-color: #756b2f  !important;
    /*background-color: #1D1D1Dff !important;*/
}

.card-title {
    font-size: 1.1em;
}

.thumb {
    width: 5rem;
    height: 5rem;
}

.carousel-control-prev,
.carousel-control-next {
    width: 2.5rem !important;
    height: 2.5rem;
   top: 50% !important; 
    transform: translateY(-50%);
    /*background-color: black;*/
    background-color: rgb(177, 171, 171) !important;
   opacity: 0.8;
}

.carousel-control-prev {
    left: -3rem !important;
}

.carousel-control-next {
    right: -3rem !important;

}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.carousel-item {
    height: 27rem;
}

.card-box {
    height: 27rem !important;
    border: none;
    font-size: 1em;
}

.product-img {
    height: 60%;

}

.cartBtn,
.cartBtn:hover,
.fav-btn,
#cartBtn:active,
.cardbtns,
.cardbtns:hover,
#cardbtns:active {
    background-color:  #40826D!important;
   /* background-color:rgb(51, 102, 51) !important ; */  /* black!important;*/
    color: white!important;
    border-radius: 0;
}
.counterbtns{
    border: 4px solid #40826D;
}

.cartBtn {
    width: 15rem;
    /*background-color: black;
    color: white !important;*/
}

.active {
    border: 1px solid #1D1D1Dff
}

.sucess {
    background-color: rgb(31, 65, 41) !important;
    color: white !important;
    /*background-color: #CECAC1ff !important;
    color: black !important;*/
}

#stock-status, .filter-modal {
    background-color:#e2e3e5 !important;
   /* background-color: rgb(177, 171, 171);*/
    /*background-color: #1D1D1Dff;*/
}

#quantity-left {
    font-size: 0.9em;
}
@media (max-width: 990px) {
    .counterbtns {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    #cartBtn {
        display: block;
        width: 100%;
        margin-left: 0 !important;
    }

    .row .col-12.col-lg-2 {
        margin-left: 0 !important;
    }

    .thumpnails {
        flex-direction: row;
        justify-content: center;
        gap: 0.4rem;

    }

    .thumb {
        width: 5.5rem;
        height: 5rem;
    }

    .title-box {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .carousel-control-prev {
        left: 0 !important;
    }

    .carousel-control-next {
        right: -0.5rem !important;
    }

    .card-box {
        height: 27rem !important;
    }

    .related-products {
        margin-bottom: 3rem;
    }

    .thumpnails {
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
    }

    .thumb {
        width: 5.5rem;
    }

    #category {
        margin-top: 2rem;
    }

    #cartBtn {
        width: 100%;
    }

    .counterbtns {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .zoom-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .zoom-container {
        width: 100%;
        height: auto;
       /* min-height: 75vh;*/
        overflow: hidden;
        position: relative;
        margin: 0 auto;
    }

    .title-box {
        margin-left: 0.4rem;
    }
    .product-img {
    height: 50%;
}
#cardbtns, .fav-btn{
    font-size: 0.7em !important;
}
}