:root {
    --prem: #1D1D1Dff;
    --sec: #CECAC1ff;
    --white: #FEFCFBff;
    --background: #40826D;
    --star: #756b2f;
}

* {
    margin: 0;
    padding: 0;
    border-radius: none !important;
    font-family: "Roboto";
    font-size: 16px;
    color: var(--prem);
    /* overflow-x: hidden; */
}

.form-check-input:checked {
    background-color: var(--prem) !important;
    border-color: var(--prem) !important;
}

hr {
    background-color: rgb(179, 179, 179);
}

#filterContainer {
    padding-right: 1rem;
}

.colors {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    display: inline-block;
}

.active {
    border: 2px solid gray;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: var(--prem);
}
.card {
    transition: box-shadow 0.3s ease;
    margin-bottom: 20px;
}
.card:hover {
    box-shadow: 10px 10px 20px rgb(114, 114, 114);
}
.zoom-container{
    height: 27rem !important;
    /* height: auto; */
    width: 20rem;
    overflow: hidden;
    position: relative;
}
.zoom-container img{
    /* max-width: 100%; */
    height: 50%;
    width: 55%;   
    /* object-fit: contain; */
    align-self: center;
    margin-top: 1rem;
}

.fav:hover ,.cart:hover{
    background-color: #6bb69e !important;
}

.cart{
    background-color: var(--background) !important;
    color: white !important;
    font-weight: bold !important;
    border: 1px solid var(--background) !important;
}

.fav {
  opacity: 0;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.card:hover .fav {
  opacity: 1;
}